node-name: {{ inventory_hostname }}
node-ip: {{ rke2_tailscale_ip.stdout | trim }}
{% if inventory_hostname in groups[rke2_control_plane_group] %}
cni: cilium
disable-kube-proxy: true
disable-cloud-controller: true
tls-san:
{% for tls_san in rke2_tls_sans %}
  - {{ tls_san }}
{% endfor %}
{% if inventory_hostname != rke2_initial_server %}
server: {{ rke2_server_url }}
token: {{ rke2_cluster_token }}
{% endif %}
{% else %}
server: {{ rke2_server_url }}
token: {{ rke2_cluster_token }}
{% endif %}
